__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.ipynb_checkpoints/

.venv/
venv/
env/
.env

.mypy_cache/
.pytest_cache/
.ruff_cache/
.history/
.idea/
.vscode/

.DS_Store
Thumbs.db

*.log
experiment.db
results*
rag_status.txt

**/cache/
**/datasets/
**/chromadb_db/
**/embeddings/
**/output/
